header
{
	width : 100%;
	height : 130px;
    background-image: url("https://www.bebr.ufl.edu/sites/default/files/styles/banner-full__720x180_/public/images/articles/201512/farmers_market_banner.png?itok=eDED24tX");
}
body
{
   background-color: #C0D6E4;
}
table
{
    margin-left: auto;
    margin-right: auto;
}
td
{
    border: 5px ridge gold;
    background-color: #015179;
}
img
{
	width : 95%;
	height : 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title
{
	font-size: 50;
	font-weight: bolder;
    color: white;
}
.info
{
    margin-top: 7px;
    text-align: center;
    font-size: 12;
}
.price
{
    font-weight: bolder;
    color: green;
}
