header
{
    background-image: url("https://image.freepik.com/free-photo/order-food-table-empty-background_1253-744.jpg");
}
body
{
   background-color: #C0D6E4;
}
table
{
    margin-left: auto;
    margin-right: auto;
}
td
{
    border: 5px ridge gold;
    background-color: #015179;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info
{
    margin-top: 7px;
    text-align: center;
    font-size: 12;
}

.price
{
    font-weight: bolder;
    color: green;
}
